In [1]:
import json
import numpy as np
import pandas as pd
import os
import re
import glob
import csv
INDEED_JOB_POSTING_DATA = "/Users/julia/OneDrive - George Mason University/researchProject/4_JobPosting/data/"

In [2]:
def read_json(dataset):
    data_dict = {}
    data_json = glob.glob( INDEED_JOB_POSTING_DATA + dataset + "*.json")
    indeed_df = pd.DataFrame()
    for i, json_file in enumerate(data_json):
        raw_df = pd.read_json(json_file,lines=True)
        data_dict[i] = raw_df
    lst_result = [values for values in data_dict.values()]
    indeed_df = indeed_df.append(lst_result)
    return indeed_df

In [3]:
def read_csv(dataset):
    data_csv = glob.glob( INDEED_JOB_POSTING_DATA + dataset + "*.csv")
    indeed_df = pd.DataFrame()
    for i, csv_file in enumerate(data_csv):
        raw_df = pd.read_csv(csv_file)
        indeed_df = indeed_df.append(raw_df)
    return indeed_df

In [4]:
indeed_2019_df = read_json('preCovid/')
indeed_2019_df.columns

Index(['uniq_id', 'crawl_timestamp', 'url', 'job_title', 'category',
       'company_name', 'city', 'state', 'country', 'post_date',
       'job_description', 'job_board', 'inferred_city', 'inferred_state',
       'inferred_country', 'fitness_score', 'geo', 'job_type',
       'company_description', 'job_post_lang', 'site_name', 'domain',
       'postdate_in_indexname_format', 'postdate_yyyymmdd', 'job_requirements',
       'salary_offered', 'contact_person', 'contact_email',
       'contact_phone_number'],
      dtype='object')

In [5]:
indeed_2019_df.drop_duplicates(subset=['uniq_id'],inplace= True, ignore_index = True)
print("number of jobs in 2019: " + str(indeed_2019_df.shape[0]))
indeed_2019_df.head()

number of jobs in 2019: 30030

,uniq_id,crawl_timestamp,url,job_title,category,company_name,city,state,country,post_date,...,job_post_lang,site_name,domain,postdate_in_indexname_format,postdate_yyyymmdd,job_requirements,salary_offered,contact_person,contact_email,contact_phone_number
0,f1f521b137e040af77495ef053033c1d,2019-06-15 06:58:56 +0000,https://ca.indeed.com/viewjob?jk=addd6d52ad95671a,Valet Attendant,Customer-Service,Intact,Toronto,ON,CA,2019-06-18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6782dc813048ff8feca7c07d8279e456,2019-06-20 07:33:26 +0000,https://www.indeed.com/viewjob?jk=21a20005cda7...,Office Associate (10-15 Hours Per Week) Clovis,Administrative,Transform SR LLC,Clovis,CA 93612,US,2019-06-20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8d5d487901c993190fdf129902b7cc0e,2019-05-25 08:15:32 +0000,https://www.indeed.com/viewjob?jk=3c49ca6367e2...,Line Cook,Restaurant/Food+Service,Saltgrass Parker (Denver),Parker,CO,Usa,2019-05-25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,26d36e31ed78556dc241cb418f672afc,2019-05-19 08:51:04 +0000,https://www.indeed.com/viewjob?jk=28ca41c90fa1...,Solar Installer,Construction/Facilities,Chico Electric,Chico,CA 95973,Usa,2019-05-18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8cca34bf3a41246d4e7ee76d4cbeede8,2019-05-24 08:28:23 +0000,https://www.indeed.com/viewjob?jk=6bee5df180fd...,Claims Administrator,Insurance,Brink's Incorporated,Coppell,TX 75019,Usa,2019-05-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
indeed_2019_df.groupby('country').agg('count')['uniq_id'].reset_index()

   country  uniq_id
0       AR      126
1       AT      374
2       AU     2032
3       BE      172
4       BH       13
5       CA      781
6       CZ        3
7       DE      100
8       DK        2
9       EC        1
10      FI       22
11      FR      131
12      MX        7
13      MY       76
14      US    16779
15     Usa     9411

In [7]:
indeed_2019_df = indeed_2019_df.loc[ (indeed_2019_df['country'] == 'US') | (indeed_2019_df['country'] == 'Usa')]
df = indeed_2019_df.groupby('category').agg('count')['uniq_id'].reset_index()
df.sort_values(by = ['uniq_id'], ascending = False)

                               category  uniq_id
2                        Administrative     2692
19                           Healthcare     2590
7                  Computer-or-internet     1778
28          Manufacturing-or-mechanical     1349
9            Construction-or-facilities     1342
41                                Sales     1301
43          Transportation-or-logistics     1006
0                 Accounting-or-finance      896
40                               Retail      823
15          Engineering-or-architecture      761
12                     Customer-Service      644
38           Restaurant-or-food-Service      639
13                Education-or-training      566
10              Construction/Facilities      552
1                    Accounting/Finance      522
3   Arts-or-entertainment-or-publishing      500
8                     Computer/Internet      476
24                            Insurance      463
5                      Banking-or-loans      435
44             Transportation/Logistics      435
23                      Human-Resources      418
33              Non-profit/volunteering      414
39              Restaurant/Food+Service      394
29             Manufacturing/Mechanical      338
27                                Legal      307
17               Government-or-military      296
20                Hospitality-or-travel      294
14                   Education/Training      290
16             Engineering/Architecture      288
30       Marketing-or-advertising-or-pr      282
11                     Customer+Service      279
26          Law-Enforcement-or-security      271
4         Arts/Entertainment/Publishing      257
32              Non-Profit/Volunteering      240
35              Pharmaceutical/bio-tech      225
6                         Banking/Loans      219
22                      Human+Resources      216
42                   Telecommunications      194
21                   Hospitality/Travel      187
46       Upper-Management-or-consulting      185
37                          Real-Estate      152
18                  Government/Military      139
34              Pharmaceutical/Bio-tech      135
36                          Real+Estate      122
31             Marketing/Advertising/PR      113
25             Law+Enforcement/Security      111
45          Upper+Management/Consulting       54

In [8]:
indeed_2020_df = read_json('Indeed_2020/')
indeed_2020_df.columns

Index(['uniq_id', 'crawl_timestamp', 'url', 'job_title', 'category',
       'company_name', 'city', 'state', 'country', 'post_date',
       'job_description', 'job_type', 'company_description', 'job_board',
       'geo', 'job_post_lang', 'inferred_iso2_lang_code',
       'inferred_iso3_lang_code', 'site_name', 'html_job_description',
       'domain', 'postdate_yyyymmdd', 'has_expired', 'last_expiry_check_date',
       'latest_expiry_check_date', 'duplicate_status',
       'postdate_in_indexname_format', 'inferred_city', 'inferred_state',
       'inferred_country', 'fitness_score', 'inferred_salary_from',
       'inferred_salary_to', 'salary_offered', 'test_contact_email',
       'contact_email', 'inferred_salary_time_unit',
       'inferred_salary_currency', 'is_currency_valid',
       'is_salary_unit_correct', 'is_from_range_valid', 'is_to_range_valid',
       'dataset'],
      dtype='object')

In [9]:
indeed_2020_df.drop_duplicates(subset=['uniq_id'],inplace= True, ignore_index = True)
print("number of jobs: " + str(indeed_2020_df.shape[0]))
indeed_2020_df.head()

number of jobs: 29995

,uniq_id,crawl_timestamp,url,job_title,category,company_name,city,state,country,post_date,...,salary_offered,test_contact_email,contact_email,inferred_salary_time_unit,inferred_salary_currency,is_currency_valid,is_salary_unit_correct,is_from_range_valid,is_to_range_valid,dataset
0,970589e837dfe5d7b96a4edb68ed53fc,2020-06-27 22:48:05 +0000,https://www.indeed.com/viewjob?jk=6e2f10dbcc82...,Assistant Teacher,Education-or-training,Tutor Time Learning Centers,Powell,OH,US,2020-06-27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5b8e77e647a868558bd14d77faa20d11,2020-06-03 14:34:46 +0000,https://www.indeed.com/viewjob?jk=e2ef934dfe3d...,Team Member,Restaurant-or-food-Service,Jack's Family Restaurant | Jacks Family Restau...,Gadsden,AL,US,2020-06-03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ffaa733004c1791099e8481a5fead2e4,2020-05-10 03:25:40 +0000,https://www.indeed.com/cmp/ZEELAND-FARM-SERVIC...,Driver ZFS - Elevator Miscellaneous,Construction-or-facilities,"Zeeland Farm Services, Inc.",Zeeland,MI,US,2020-05-10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6388e9094ff67beb57a04c1bb84613d1,2020-05-30 06:55:44 +0000,https://www.indeed.com/viewjob?jk=e44bcf868eea...,NURSE (FLIGHT OPERATIONS),Accounting-or-finance,US Department of the Air Force,Keesler AFB,MS,US,2020-05-30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,f34f23997811c9c163d9c14347725cd0,2020-05-14 07:10:50 +0000,https://www.indeed.com/viewjob?jk=b551a641bce8...,"Sr Mgr, Clinic Operations",Administrative,Emory,Decatur,GA,US,2020-05-14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
indeed_2020_df.groupby('country').agg('count')['uniq_id'].reset_index()

  country  uniq_id
0      US    29995

In [10]:
indeed_2020_df.groupby('job_type').agg('count')['uniq_id'].reset_index()

                                      job_type  uniq_id
0   $12 - $15 an hour  -  Full-time, Part-time        1
1                                   Commission      120
2                         Commission|Volunteer        1
3                                     Contract      222
4                          Contract|Commission        8
5                           Contract|Volunteer        1
6                                    Full-time     5514
7                         Full-time, Part-time        1
8                         Full-time|Commission      180
9                           Full-time|Contract      182
10               Full-time|Contract|Commission        6
11                        Full-time|Internship        6
12                         Full-time|Temporary       53
13                Full-time|Temporary|Contract        5
14                         Full-time|Volunteer        4
15                           Full-time|Walk-in        1
16                                  Internship       24
17                       Internship|Commission        1
18                                   Part-time      796
19                        Part-time|Commission        4
20                          Part-time|Contract       23
21                         Part-time|Full-time      652
22              Part-time|Full-time|Commission        6
23                Part-time|Full-time|Contract       32
24     Part-time|Full-time|Contract|Commission        2
25              Part-time|Full-time|Internship        1
26   Part-time|Full-time|Internship|Commission        1
27               Part-time|Full-time|Temporary       33
28      Part-time|Full-time|Temporary|Contract        3
29                        Part-time|Internship        4
30                         Part-time|Temporary       22
31              Part-time|Temporary|Commission        1
32                Part-time|Temporary|Contract        3
33              Part-time|Temporary|Internship        2
34                         Part-time|Volunteer        1
35                                   Temporary       60
36                          Temporary|Contract        6
37                                   Volunteer       25

In [11]:
df = indeed_2020_df.groupby('category').agg('count')['uniq_id'].reset_index()
df.sort_values(by = ['uniq_id'], ascending = False)

                               category  uniq_id
1                        Administrative     3750
10                           Healthcare     3178
16          Manufacturing-or-mechanical     2694
5            Construction-or-facilities     2439
4                  Computer-or-internet     2032
23                                Sales     1955
25          Transportation-or-logistics     1508
21           Restaurant-or-food-Service     1504
0                 Accounting-or-finance     1396
6                      Customer-Service     1215
22                               Retail     1080
7                 Education-or-training     1043
8           Engineering-or-architecture      869
13                            Insurance      733
17       Marketing-or-advertising-or-pr      670
26       Upper-Management-or-consulting      612
12                      Human-Resources      592
18              Non-profit/volunteering      419
3                      Banking-or-loans      403
14          Law-Enforcement-or-security      351
11                Hospitality-or-travel      348
2   Arts-or-entertainment-or-publishing      302
15                                Legal      292
9                Government-or-military      212
19              Pharmaceutical/bio-tech      169
20                          Real-Estate      144
24                   Telecommunications       85