In [1]:
import json
import numpy as np
import pandas as pd
import os
import re
import glob
import csv
INDEED_JOB_POSTING_DATA = "/Users/julia/OneDrive - George Mason University/researchProject/4_JobPosting/data/"

In [40]:
def read_json(dataset):
    data_dict = {}
    data_json = glob.glob( INDEED_JOB_POSTING_DATA + dataset + "*.json")
    indeed_df = pd.DataFrame()
    for i, json_file in enumerate(data_json):
        raw_df = pd.read_json(json_file,lines=True)
        data_dict[i] = raw_df
    lst_result = [values for values in data_dict.values()]
    indeed_df = indeed_df.append(lst_result)
    return indeed_df

In [32]:
def read_csv(dataset):
    data_csv = glob.glob( INDEED_JOB_POSTING_DATA + dataset + "*.csv")
    indeed_df = pd.DataFrame()
    for i, csv_file in enumerate(data_csv):
        raw_df = pd.read_csv(csv_file)
        indeed_df = indeed_df.append(raw_df)
    return indeed_df

In [39]:
indeed_2020_df = read_json('Indeed_2020/')
indeed_2020_df.drop_duplicates()
print("number of jobs: " + str(indeed_2020_df.shape[0]))
indeed_2020_df.head()

['/Users/julia/OneDrive - George Mason University/researchProject/4_JobPosting/data/Indeed_2020/20200401_20200630_30k_data.json']

,uniq_id,crawl_timestamp,url,job_title,category,company_name,city,state,country,post_date,...,salary_offered,test_contact_email,contact_email,inferred_salary_time_unit,inferred_salary_currency,is_currency_valid,is_salary_unit_correct,is_from_range_valid,is_to_range_valid,dataset
0,970589e837dfe5d7b96a4edb68ed53fc,2020-06-27 22:48:05 +0000,https://www.indeed.com/viewjob?jk=6e2f10dbcc82...,Assistant Teacher,Education-or-training,Tutor Time Learning Centers,Powell,OH,US,2020-06-27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5b8e77e647a868558bd14d77faa20d11,2020-06-03 14:34:46 +0000,https://www.indeed.com/viewjob?jk=e2ef934dfe3d...,Team Member,Restaurant-or-food-Service,Jack's Family Restaurant | Jacks Family Restau...,Gadsden,AL,US,2020-06-03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ffaa733004c1791099e8481a5fead2e4,2020-05-10 03:25:40 +0000,https://www.indeed.com/cmp/ZEELAND-FARM-SERVIC...,Driver ZFS - Elevator Miscellaneous,Construction-or-facilities,"Zeeland Farm Services, Inc.",Zeeland,MI,US,2020-05-10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6388e9094ff67beb57a04c1bb84613d1,2020-05-30 06:55:44 +0000,https://www.indeed.com/viewjob?jk=e44bcf868eea...,NURSE (FLIGHT OPERATIONS),Accounting-or-finance,US Department of the Air Force,Keesler AFB,MS,US,2020-05-30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,f34f23997811c9c163d9c14347725cd0,2020-05-14 07:10:50 +0000,https://www.indeed.com/viewjob?jk=b551a641bce8...,"Sr Mgr, Clinic Operations",Administrative,Emory,Decatur,GA,US,2020-05-14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
indeed_2020_df.columns

Index(['uniq_id', 'crawl_timestamp', 'url', 'job_title', 'category',
       'company_name', 'city', 'state', 'country', 'post_date',
       'job_description', 'job_type', 'company_description', 'job_board',
       'geo', 'job_post_lang', 'inferred_iso2_lang_code',
       'inferred_iso3_lang_code', 'site_name', 'html_job_description',
       'domain', 'postdate_yyyymmdd', 'has_expired', 'last_expiry_check_date',
       'latest_expiry_check_date', 'duplicate_status',
       'postdate_in_indexname_format', 'inferred_city', 'inferred_state',
       'inferred_country', 'fitness_score', 'inferred_salary_from',
       'inferred_salary_to', 'salary_offered', 'test_contact_email',
       'contact_email', 'inferred_salary_time_unit',
       'inferred_salary_currency', 'is_currency_valid',
       'is_salary_unit_correct', 'is_from_range_valid', 'is_to_range_valid',
       'dataset'],
      dtype='object')

In [41]:
indeed_2020_df.groupby('job_type').agg('count')['uniq_id'].reset_index()

                                      job_type  uniq_id
0   $12 - $15 an hour  -  Full-time, Part-time        1
1                                   Commission      120
2                         Commission|Volunteer        1
3                                     Contract      222
4                          Contract|Commission        8
5                           Contract|Volunteer        1
6                                    Full-time     5514
7                         Full-time, Part-time        1
8                         Full-time|Commission      180
9                           Full-time|Contract      182
10               Full-time|Contract|Commission        6
11                        Full-time|Internship        6
12                         Full-time|Temporary       53
13                Full-time|Temporary|Contract        5
14                         Full-time|Volunteer        4
15                           Full-time|Walk-in        1
16                                  Internship       24
17                       Internship|Commission        1
18                                   Part-time      796
19                        Part-time|Commission        4
20                          Part-time|Contract       23
21                         Part-time|Full-time      652
22              Part-time|Full-time|Commission        6
23                Part-time|Full-time|Contract       32
24     Part-time|Full-time|Contract|Commission        2
25              Part-time|Full-time|Internship        1
26   Part-time|Full-time|Internship|Commission        1
27               Part-time|Full-time|Temporary       33
28      Part-time|Full-time|Temporary|Contract        3
29                        Part-time|Internship        4
30                         Part-time|Temporary       22
31              Part-time|Temporary|Commission        1
32                Part-time|Temporary|Contract        3
33              Part-time|Temporary|Internship        2
34                         Part-time|Volunteer        1
35                                   Temporary       60
36                          Temporary|Contract        6
37                                   Volunteer       25

In [42]:
df = indeed_2020_df.groupby('category').agg('count')['uniq_id'].reset_index()
df.sort_values(by = ['uniq_id'], ascending = False)

                               category  uniq_id
1                        Administrative     3750
10                           Healthcare     3178
16          Manufacturing-or-mechanical     2694
5            Construction-or-facilities     2439
4                  Computer-or-internet     2032
23                                Sales     1955
25          Transportation-or-logistics     1508
21           Restaurant-or-food-Service     1504
0                 Accounting-or-finance     1396
6                      Customer-Service     1215
22                               Retail     1080
7                 Education-or-training     1043
8           Engineering-or-architecture      869
13                            Insurance      733
17       Marketing-or-advertising-or-pr      670
26       Upper-Management-or-consulting      612
12                      Human-Resources      592
18              Non-profit/volunteering      419
3                      Banking-or-loans      403
14          Law-Enforcement-or-security      351
11                Hospitality-or-travel      348
2   Arts-or-entertainment-or-publishing      302
15                                Legal      292
9                Government-or-military      212
19              Pharmaceutical/bio-tech      169
20                          Real-Estate      144
24                   Telecommunications       85

In [36]:
indeed_2019_df = read_json('preCovid/')
indeed_2019_df.head()

['/Users/julia/OneDrive - George Mason University/researchProject/4_JobPosting/data/preCovid/20190501_20190731.json', '/Users/julia/OneDrive - George Mason University/researchProject/4_JobPosting/data/preCovid/20190601_20190930.json']

,uniq_id,crawl_timestamp,url,job_title,category,company_name,city,state,country,post_date,...,job_post_lang,site_name,domain,postdate_in_indexname_format,postdate_yyyymmdd,job_requirements,salary_offered,contact_person,contact_email,contact_phone_number
0,f1f521b137e040af77495ef053033c1d,2019-06-15 06:58:56 +0000,https://ca.indeed.com/viewjob?jk=addd6d52ad95671a,Valet Attendant,Customer-Service,Intact,Toronto,ON,CA,2019-06-18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6782dc813048ff8feca7c07d8279e456,2019-06-20 07:33:26 +0000,https://www.indeed.com/viewjob?jk=21a20005cda7...,Office Associate (10-15 Hours Per Week) Clovis,Administrative,Transform SR LLC,Clovis,CA 93612,US,2019-06-20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8d5d487901c993190fdf129902b7cc0e,2019-05-25 08:15:32 +0000,https://www.indeed.com/viewjob?jk=3c49ca6367e2...,Line Cook,Restaurant/Food+Service,Saltgrass Parker (Denver),Parker,CO,Usa,2019-05-25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,26d36e31ed78556dc241cb418f672afc,2019-05-19 08:51:04 +0000,https://www.indeed.com/viewjob?jk=28ca41c90fa1...,Solar Installer,Construction/Facilities,Chico Electric,Chico,CA 95973,Usa,2019-05-18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8cca34bf3a41246d4e7ee76d4cbeede8,2019-05-24 08:28:23 +0000,https://www.indeed.com/viewjob?jk=6bee5df180fd...,Claims Administrator,Insurance,Brink's Incorporated,Coppell,TX 75019,Usa,2019-05-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,4ea937be8f1f22cc5c5e0e328c41386f,2019-08-03 10:33:39 +0000,https://www.indeed.com/viewjob?jk=9695cff9a16b...,Field Service Technician,Customer-Service,Jesco Inc.-Beacon,Beacon,NY,US,2019-08-03,...,en,indeed_usa_com_job_board_common_setup_pc_jobspikr,indeed_com,2019.08.01,20190803.0,NaN,NaN,NaN,NaN,NaN
26,afc3de827adf8033be442978fb62af89,2019-08-03 10:27:55 +0000,https://www.indeed.com/viewjob?jk=1dd2122352b4...,Branch/Profit Center Manager,Sales,Company Info Follow Get job updates from Sunbe...,Irving,TX 75062,US,2019-08-03,...,en,indeed_usa_com_job_board_common_setup_pc_jobspikr,indeed_com,2019.08.01,20190803.0,NaN,NaN,NaN,NaN,NaN
27,98e044981bd99b9d9f04c5b8efffde9e,2019-08-03 10:38:24 +0000,https://www.indeed.com/viewjob?jk=0df3d9e5c303...,Administrative Service Coordinator-Neurology A...,Education-or-training,Company Info Follow Get job updates from Child...,Aurora,CO,US,2019-08-03,...,en,indeed_usa_com_job_board_common_setup_pc_jobspikr,indeed_com,2019.08.01,20190803.0,NaN,NaN,NaN,NaN,NaN
28,0fb5dc2c0c227400e64874afb8bbf2dc,2019-08-03 10:36:34 +0000,https://www.indeed.com/viewjob?jk=fab446a18eb2...,Lead Valet Attendant (FT),Customer-Service,ABM - Tampa,Baton Rouge,LA,US,2019-08-03,...,en,indeed_usa_com_job_board_common_setup_pc_jobspikr,indeed_com,2019.08.01,20190803.0,NaN,NaN,NaN,NaN,NaN
29,7ce390dbaba21f268c1b3ba4f42be9dd,2019-08-03 10:35:50 +0000,https://www.indeed.com/viewjob?jk=13e1b1c77ecf...,Director International & Graduate Programs,Legal,Company Info Follow Get job updates from Stets...,Gulfport,FL,US,2019-08-03,...,en,indeed_usa_com_job_board_common_setup_pc_jobspikr,indeed_com,2019.08.01,20190803.0,NaN,NaN,NaN,NaN,NaN

In [20]:
indeed_2019_df.columns

Index(['uniq_id', 'crawl_timestamp', 'url', 'job_title', 'category',
       'company_name', 'city', 'state', 'country', 'post_date',
       'job_description', 'job_board', 'inferred_city', 'inferred_state',
       'inferred_country', 'fitness_score', 'geo', 'job_type',
       'company_description', 'job_post_lang', 'site_name', 'domain',
       'postdate_in_indexname_format', 'postdate_yyyymmdd', 'job_requirements',
       'salary_offered', 'contact_person', 'contact_email',
       'contact_phone_number'],
      dtype='object')

In [21]:
indeed_2019_df.groupby('country').agg('count')['uniq_id'].reset_index()

   country  uniq_id
0       AR      126
1       AT      374
2       AU     2032
3       BE      172
4       BH       13
5       CA      781
6       CZ        3
7       DE      100
8       DK        2
9       EC        1
10      FI       22
11      FR      131
12      MX        7
13      MY       76
14      US    16779
15     Usa     9411

In [43]:
indeed_2019_df = indeed_2019_df.loc[ (indeed_2019_df['country'] == 'US') | (indeed_2019_df['country'] == 'Usa')]
df = indeed_2019_df.groupby('category').agg('count')['uniq_id'].reset_index()
df.sort_values(by = ['uniq_id'], ascending = False)

                               category  uniq_id
2                        Administrative     2692
19                           Healthcare     2590
7                  Computer-or-internet     1778
28          Manufacturing-or-mechanical     1349
9            Construction-or-facilities     1342
41                                Sales     1301
43          Transportation-or-logistics     1006
0                 Accounting-or-finance      896
40                               Retail      823
15          Engineering-or-architecture      761
12                     Customer-Service      644
38           Restaurant-or-food-Service      639
13                Education-or-training      566
10              Construction/Facilities      552
1                    Accounting/Finance      522
3   Arts-or-entertainment-or-publishing      500
8                     Computer/Internet      476
24                            Insurance      463
5                      Banking-or-loans      435
44             Transportation/Logistics      435
23                      Human-Resources      418
33              Non-profit/volunteering      414
39              Restaurant/Food+Service      394
29             Manufacturing/Mechanical      338
27                                Legal      307
17               Government-or-military      296
20                Hospitality-or-travel      294
14                   Education/Training      290
16             Engineering/Architecture      288
30       Marketing-or-advertising-or-pr      282
11                     Customer+Service      279
26          Law-Enforcement-or-security      271
4         Arts/Entertainment/Publishing      257
32              Non-Profit/Volunteering      240
35              Pharmaceutical/bio-tech      225
6                         Banking/Loans      219
22                      Human+Resources      216
42                   Telecommunications      194
21                   Hospitality/Travel      187
46       Upper-Management-or-consulting      185
37                          Real-Estate      152
18                  Government/Military      139
34              Pharmaceutical/Bio-tech      135
36                          Real+Estate      122
31             Marketing/Advertising/PR      113
25             Law+Enforcement/Security      111
45          Upper+Management/Consulting       54

In [33]:
indeed_df = read_csv('preCovid/')
indeed_df.head()

,Job Title,Job Description,Job Type,Categories,Location,City,State,Country,Zip Code,Address,...,Employer Phone,Employer Logo,Companydescription,Employer Location,Employer City,Employer State,Employer Country,Employer Zip Code,Uniq Id,Crawl Timestamp
0,Shift Manager,"<div id=""jobDescriptionText"" class=""jobsearch-...",NaN,NaN,"Mission Hills, CA 91345",Mission Hills,CA,United States,91345,NaN,...,NaN,https://d2q79iu7y748jz.cloudfront.net/s/_squar...,Del Taco is an American quick service restaura...,"Mission Hills, CA 91345",Mission Hills,CA,United States,91345,511f9a53920f4641d701d51d3589349f,2019-08-24 09:13:18 +0000
1,Operations Support Manager,"<div id=""jobDescriptionText"" class=""jobsearch-...",NaN,NaN,"Atlanta, GA 30342",Atlanta,GA,United States,30342,NaN,...,NaN,https://d2q79iu7y748jz.cloudfront.net/s/_logo/...,"Based in Atlanta, FOCUS Brands Inc. is an inno...",NaN,NaN,NaN,United States,NaN,4955daf0a3facbe2acb6c429ba394e6d,2019-09-19 08:16:55 +0000
2,Senior Product Manager - Data,"<div id=""jobDescriptionText"" class=""jobsearch-...",NaN,NaN,"Chicago, IL",Chicago,IL,United States,NaN,NaN,...,NaN,NaN,Vibes Corp. reputation was built and establish...,NaN,NaN,NaN,United States,NaN,a0e0d12df1571962b785f17f43ceae12,2019-09-18 02:13:10 +0000
3,Part-Time Office Concierge,"<div id=""jobDescriptionText"" class=""jobsearch-...",NaN,NaN,"Festus, MO",Festus,MO,United States,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,United States,NaN,56e411fd731f76ac916bf4fb169250e9,2019-10-24 16:39:13 +0000
4,Print & Marketing Associate,"<div id=""jobDescriptionText"" class=""jobsearch-...",NaN,NaN,"Cedar Rapids, IA 52404",Cedar Rapids,IA,United States,52404,NaN,...,NaN,https://d2q79iu7y748jz.cloudfront.net/s/_logo/...,"Staples is The Worklife Fulfillment Company, h...","Cedar Rapids, IA 52404",Cedar Rapids,IA,United States,52404,3fff5c0ad6981bf4bff6260bd5feab63,2019-08-24 22:29:10 +0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29997,Bilingual Teller,"<div id=""jobDescriptionText"" class=""jobsearch-...",NaN,NaN,"Lakewood, CO 80226",Lakewood,CO,United States,80226,NaN,...,NaN,https://d2q79iu7y748jz.cloudfront.net/s/_logo/...,Moneytree is a family-run business that has be...,NaN,NaN,NaN,United States,NaN,db18d0e2de28df6e1e605a3800ffd574,2019-10-25 22:42:37 +0000
29998,"Rental Consultant - Harrison, OH","<div id=""jobDescriptionText"" class=""jobsearch-...",NaN,NaN,"Harrison, OH 45030",Harrison,OH,United States,45030,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,United States,NaN,47f8d7f320223b6f043ef5c345676902,2019-10-25 16:56:18 +0000
29999,Product Support Specialist 5,"<div id=""jobDescriptionText"" class=""jobsearch-...",NaN,NaN,"Melbourne, FL 32940",Melbourne,FL,United States,32940,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,United States,NaN,d2a18fb9f52495aa7876d4470e5acc61,2019-10-25 01:39:48 +0000
30000,Marketing Strategist (Contract),"<div id=""jobDescriptionText"" class=""jobsearch-...",NaN,NaN,"San Diego, CA",San Diego,CA,United States,NaN,NaN,...,NaN,https://d2q79iu7y748jz.cloudfront.net/s/_logo/...,Ajinomoto Bio-Pharma Services is a fully integ...,NaN,NaN,NaN,United States,NaN,ce699d2e94a52dfebb13bcf70ed5ffd7,2019-08-23 15:36:47 +0000
30001,Business Intelligence Data Warehouse ETL Manager,"<div id=""jobDescriptionText"" class=""jobsearch-...",NaN,NaN,"Jefferson, WI",Jefferson,WI,United States,NaN,NaN,...,NaN,NaN,NewCareers is a full service executive/profess...,NaN,NaN,NaN,United States,NaN,4c13eed829c37b7d6ec0c94f6374a112,2019-10-24 14:44:39 +0000

In [35]:
indeed_df.columns

Index(['Job Title', 'Job Description', 'Job Type', 'Categories', 'Location',
       'City', 'State', 'Country', 'Zip Code', 'Address', 'Salary From',
       'Salary To', 'Salary Period', 'Apply Url', 'Apply Email', 'Employees',
       'Industry', 'Company Name', 'Employer Email', 'Employer Website',
       'Employer Phone', 'Employer Logo', 'Companydescription',
       'Employer Location', 'Employer City', 'Employer State',
       'Employer Country', 'Employer Zip Code', 'Uniq Id', 'Crawl Timestamp'],
      dtype='object')